div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

p {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

#whatsap {
    background-color: #25D366; 
}

#telegram {
    background-color: #0088cc;
}
